
body {
  background-color: #00e5c32e;
  margin: 0;
  padding: 0;

}

h1 {
  text-align: center;
  color: #000000;
}

.questionButton {
    background-color: #00000000;
    border: none;
    font-size: 14pt;
}


button:hover {

}

button div {

}

.BackButton {
    border: 2px solid #000000;
    color: 0x000000;
    font-size: 20pt;
    background-color: #579aff3b;
    text-decoration: none;
}

.BackButton:hover {
  background-color: #6fa6f9;
  color: white;
}

.userInputText {
  background-color: #579aff3b;
  color: #000;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  display: block;
  margin: 20px auto;
  font-size: 14pt;
  border: 5px;
  border-color: #6fa6f914;
  text-align: center;
}

.deleteButton {
    text-align: right;
    font-size: 8pt;
    color: #cc0000;
}

.deleteButton:hover {
  font-size: 12pt;
  color: #ff2222;
}

.questionContainer {
  background-color: #579aff3b;
  padding: 10px 20px;

  display: block;
  margin: 10px auto;
  font-size: 14pt;
  border-color: #6fa6f914;
  text-align: center;
  align-items: center;
  justify-content: center;
}


.questionContainer:hover {
  background-color: #6fa6f9;
  text-align: center;
}

.announcement {
    text-align: center;
    color: #ff0000;
    animation: colorChange 3s infinite;
    animation: scroll-left 15s linear infinite;
    white-space: nowrap
}

@keyframes colorChange {
    0% { color: lightblue; }
    33% { color: coral; }
    66% { color: lightgreen; }
    100% { color: lightblue; }
}

@keyframes scroll-left {
    from {
        transform: translateX(150%); /* Start outside on the right */
    }
    to {
        transform: translateX(-150%); /* End outside on the left */
    }
}

.announcement
