<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Questions.css') }}"/>
  </head>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  {% include 'navibar.html' %}
  <h1>Questions in {{topic_name[0]}}</h1>
  <div><a onclick="location.href='/topics/'" class="BackButton">← Back</a></div>
  <div>
    {%if data %}
    {% for n in data %}
      <button onclick="location.href='/topics/{{tid}}/{{n[1]}}'" >{{n[0]}}</button>
    {% endfor %}
    {% endif %}
  </div>

</body>


</html>
