<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Questions.css') }}"/>
  </head>
  <style>
    body{
      font-size: 15pt;
      font-family: arial;
    }
  </style>


<body>
  {% include 'navibar.html' %}
  <h1>Questions in {{topic_name[0]}}</h1>
  <div><a onclick="location.href='/topics/'" class="BackButton">← Back</a></div>
  <div class="announcement">
    {{announcementData[0]}} {{announcementData[1]}}
  </div>
  <div>
    {%if data %}
    {% for n in data %}
    <div class="questionContainer">
    {% if n[-1] == loggedInUID %}

        <form class="deleteButton" method="POST">
          <button type="submit" class="deleteButton">
            X
          </button>
          <input type="hidden" name="qid" value="{{n[1]}}">
        </form>
      {% endif %}

      <button class="questionButton" onclick="location.href='/topics/{{tid}}/{{n[1]}}'" >{{n[0]}}</button>
      </div>
    {% endfor %}
    {% endif %}
  </div>

  <div>
    <form method="POST">
      <input class="userInputText" type="text" name="userQuestionText" placeholder="Enter your question here">
    </form>
  </div>

</body>


</html>
